@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  background-color: #fff;
  height: 100vh;
  overflow-x: hidden;
}

html.dark {
  background-color: #18181b;
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

html.dark::-webkit-scrollbar-thumb {
  width: 12px;
  background-color: #232327;
  border-radius: 5px;
}
html.dark::-webkit-scrollbar {
  width: 12px;
  background-color: #18181b;
}

html::-webkit-scrollbar-thumb {
  width: 12px;
  background-color: rgb(134 239 172);
  border-radius: 5px;
}
html::-webkit-scrollbar {
  width: 12px;
  background-color: rgb(255 255 255);
}
